.modules-chat-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 176px;

  .scroll-content-con { // 定制组件样式
    padding: 0 20px 20px;
  }

  .message-loading {
    padding-top: 10px;
    text-align: center;
  }

  .v-clip {
    -webkit-animation: v-clipDelay 0.75s 0s infinite linear;
            animation: v-clipDelay 0.75s 0s infinite linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block;
  }

  @-webkit-keyframes v-clipDelay {
    0% {
      -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(0.8);
                transform: rotate(180deg) scale(0.8);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
                transform: rotate(360deg) scale(1);
    }
  }

  @keyframes v-clipDelay {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(0.8);
                transform: rotate(180deg) scale(0.8);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
                transform: rotate(360deg) scale(1);
    }
  }
}